* {
  margin: 0;
  padding: 0;
}
.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF0DF;
  height: 100vh;
  width: 100vw;
}

/* Not sure why inline sx can't overwrite */
div.App .css-et1ao3-MuiTypography-root {
  font-size: 1.25rem; 
}
